<label for="post_title">Title:</label>
<%= f.text_field :title %>
<br/>

<label for="post_content">Content:</label>
<%= f.text_area :content %>
<br/>

<label for="post_extended_content">Extended content:</label>
<%= f.text_area :extended_content %>


